<h3 class="text-uppercase mb-3">Add user</h3>
<form (ngSubmit)="addUser()">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Name" name="name" [(ngModel)]="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="email">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">Active</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="active" name="active" [(ngModel)]="active">
        <label class="form-check-label" for="active">Yes/No</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="role">Role</label>
    <div class="col-sm-10">
      <select class="custom-select" id="role" name="role" [(ngModel)]="role">
        <option selected>Select</option>
        <option value="user">User</option>
        <option value="editor">Editor</option>
        <option value="admin">Admin</option>
      </select>
    </div>
  </div>
  <div class="form-group row text-left">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-warning">Add</button>
    </div>
  </div>
</form>
