<div class="container mt-5">
  <h1 class="text-center text-uppercase">Manage Users</h1>
  <div class="row mt-3 justify-content-between">
    <app-new-user class="p-2"></app-new-user>
    <app-users class="p-2"></app-users>
  </div>
</div>
