<div class="list-group-item rounded-lg">
  <div class="row">
    <p><strong>Name: </strong>{{ user.name }}</p>
  </div>
  <div class="row">
    <p><strong>Email: </strong>{{ user.email }}</p>
  </div>
  <div class="row">
    <p><strong>Active: </strong>{{ user.active }}</p>
  </div>
  <div class="row">
    <p><strong>Role: </strong>{{ user.role }}</p>
  </div>
</div>
